@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size: 18px;
    font-family: "JetBrains Mono", monospace;
    background: transparent;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

tooltip {
    background: alpha(@background, 0.7);
    border-radius: 12px;
    border: 2px solid alpha(@foreground,0.5);
    padding: 6px;
    margin: 6px;
}

#waybar > box {
    background: alpha(@background, 0.7);
    padding: 1px;
}

#workspaces button {
    padding: 0 4px;
    color: alpha(white, 0.5);
}

#workspaces button:hover {
    all: unset;
    background: alpha(@background, 0.5);
}

#workspaces button.active {
    color: white;
    background: transparent;
    border: none;
}

#clock,
#battery,
#network,
#pulseaudio,
#cpu,
#backlight,
#memory,
#language,
#bluetooth,
#custom-weather,
#custom-expand,
#temperature {
    color: white;
}

#network,
#pulseaudio,
#memory,
#temperature {
    color: white;
}

#clock {
    padding-right: 20px;
}

#window {
    font-weight: 900;
    color: white;
}

#custom-launcher {
    padding-left: 20px;
    font-size: 24px;
    color: white;
}

#custom-text {
    font-weight: 600;
}

#custom-input {
    font-size: 22px;
    padding: 0 2px;
    margin: 0;
    color: white;
}

#custom-texttwo,
#custom-textthree,
#custom-textfour,
#custom-textfive {
    font-size: 13px;
}

#custom-date {
    font-size: 13px;
    font-weight: 700;
}
