@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size: 18px;
    font-family: "JetBrains Mono", monospace;
    background: transparent;
    padding: 0;
    margin: 0;
}

#waybar {
    background: alpha(@background, 0.7);
}

#workspaces button {
    color: alpha(white, 0.2);
}

#workspaces button.active {
    color: white;
}

#clock,
#network,
#pulseaudio,
#cpu,
#memory,
#bluetooth,
#custom-weather,
#custom-expand,
#temperature {
    color: white;
}

#network,
#pulseaudio,
#memory,
#temperature {
    color: white;
}

#clock {
    padding-right: 20px;
}

#window {
    font-weight: 900;
    color: white;
}

#battery {
    background: white;
    border-radius: 15px;
}

#custom-launcher {
    padding-left: 20px;
    font-size: 24px;
    color: white;
}

#custom-text {
    font-weight: 600;
}

#custom-texttwo,
#custom-textthree,
#custom-textfour,
#custom-textfive {
    font-size: 13px;
}

#image.ethernetart {
}

#custom-date {
    font-size: 13px;
    font-weight: 700;
}
