@import url("/home/ahmed/.cache/wal/colors-waybar.css");

.nautilus-window {
    background: transparent;
}

.nautilus-window .sidebar-pane .navigation-sidebar {
    background: transparent;
}

.sidebar-row:selected, .sidebar-row:hover {
    background: rgba(255,255,255,0.2);
}

.image-button {
    background: transparent;
    border: none;
    box-shadow: none;
}

.sidebar-icon {
    color: @color1;
}

.collapse-spacing {
    background: @background;
}

.sidebar-pane, headerbar {
    background: rgba(0,0,0,0.5);
}

.nautilus-window headerbar {
    background: transparent;
    box-shadow: none;
    border: none;
}

.top-bar {
    background: transparent;
}

.nautilus-window .view,
.nautilus-window .content {
    background: @background;
}

.nautilus-window .nautilus-list-view row:selected {
    background-color: @color1;
    color: black;
}

.view header {
    background: red;
}
