@import url("/home/ahmed/.cache/wal/colors-waybar.css");

* {
    background: transparent;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: JetBrains Mono;
    font-size: 18px;
    color: white;
}

.widget-title {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.widget-title > label {
    color: white; /* Notification title text (e.g., "Notifications") */
}

.widget-title > button {
    color: white;
    background: rgba(32,32,32,0.5);
    font-size: 16px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%;
}

.widget-title > button:hover {
    background: alpha(@foreground, 0.5);
}

.control-center {
    background: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 15px;
    box-shadow: none;
}

.notification {
    background: transparent;
    border: none;
    border-radius: 35px;
    margin: 0;
    padding: 10px;
}

.notification-content {
    background: rgba(32,32,32,0.5);
    margin: 0;
    border-radius: 35px;
    padding: 20px;
}

.control-center .widget-title {
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
}

.window {
    margin: 0;
    padding: 0;
}

.notification {
}

.control-center .widget-mpris {
    color: #ffffff;
    padding: 20px;
    border-radius: 35px;
    background: rgba(32,32,32,0.5);
}

.widget-mpris {
    margin-top: 0;
}
